
</script>
<!DOCTYPE html>
   <head>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>>
      <script type="text/javascript" src="{{ url_for('static',filename='arduino.js') }}"></script>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
   </head>
   <body>
      <div class="container">
         <h1>Active Channels: </h1>
      {% for channel in arduino.ActiveChannels %}
         <div class="card three columns">
            <h2>Channel {{ channel.channelNumber + 1}}</h2>
            {% if channel.mode == 1 %}
               <button class="button-primary StopMPPT" value={{channel.channelNumber}}>Stop MPPT</button>
               <button class="button-primary StartMPPT" value={{channel.channelNumber}} style="display:none">Start MPPT</button>
            {% else %}
               <button class="button-primary StopMPPT" value={{channel.channelNumber}} style="display: none">Stop MPPT</button>
               <button class="button-primary StartMPPT" value={{channel.channelNumber}}>Start MPPT</button>
            {% endif %}
            {% if channel.mode != 2 %}
            <button class="button-primary StartSweepIV" value={{channel.channelNumber}}>Start SweepIV</button>
            {% endif %}
         </div>
      {% endfor %}
      </div>
      <div>
        <span id=result>?</span>
      </div>
   </body>
</html>